{% extends 'ohmysport/partials/base.html' %}
{% block content %}
  <h1 class="display-6">All sports news</h1>
  <a href="{% url 'newpost' %}">Add new post</a>
  <hr>
  <div class="row">
    {% for post in posts %}
      <div class="col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="{{ post.image_link }}" alt="Card image cap" height="200">
            <div class="card-body">
              <h1 class="fs-5"><a href="{% url 'post' post.slug %}" style="text-decoration: none">
                <strong>{{ post.title }}</strong>
              </a></h1>
              <p>{{ post.content|truncatechars:150 }}</p>
              <p>
                Team{{ post.teams.all.count|pluralize }}:
                {% for team in post.teams.all %}
                  <span class="text-danger">
                    <strong><em>
                      <a href="{% url 'team' slug=team.slug %}" style="text-decoration: none">{{ team }}</a>
                    </em></strong>
                  </span>
                {% endfor %}
              </p>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}