{% extends 'ohmysport/partials/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0 text-center">Add new team</h6>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-info text-light" value="Ajouter l'équipe">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock%}